<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>HxlhAdapter</display-name>
	<!-- Spring context startup Spring的初始化 -->
	<!-- 在ContextLoaderListener里面，加载cxf和spring的公共配置信息。 然后在DispatcherServlet中加载spring 
		mvc所需的信息。利用Spring配置文件拆分的方式， 既实现spring mvc和cxf的共存，又避免spring配置信息的重复加载 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:spring.xml,
			classpath:spring-mybatis.xml,
			classpath:spring-cxf.xml
			</param-value>
	</context-param>

	<!-- Spring character filter 处理乱码 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- spring监听器 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- 防止spring内存溢出监听器 -->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>

	<!-- Spring MVC Configuration Spring MVC的配置 -->
	<servlet>
		<description>spring mvc servlet</description>
		<servlet-name>springMvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<description>spring mvc contextConfig</description>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springMvc</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<!--CXF配置 -->
	<servlet>
		<servlet-name>CXFServlet</servlet-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>CXFServlet</servlet-name>
		<url-pattern>/webservice/*</url-pattern>
	</servlet-mapping>

	<!-- Configuration of Log4j log4j的配置 -->
	<!-- <context-param> -->
	<!-- <param-name>log4jConfigLocation</param-name> -->
	<!-- log4j.properties文件路径 -->
	<!-- <param-value>classpath:log4j.properties</param-value> -->
	<!-- </context-param> -->
	<!-- <context-param> -->
	<!-- <param-name>log4jRefreshInterval</param-name> -->
	<!-- <param-value>60000</param-value> -->
	<!-- </context-param> -->
	<!-- <listener> -->
	<!-- <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class> -->
	<!-- </listener> -->

	<!-- 欢迎页面 -->
	<welcome-file-list>
		<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>

	<!-- 配置session超时时间，单位分钟 -->
	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>
</web-app>
