<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.systop.core.dao.UserMapper">
	<resultMap id="BaseResultMap" type="com.systop.core.model.User">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="createdatetime" property="createdatetime"
			jdbcType="TIMESTAMP" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="pwd" property="pwd" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, createdatetime, name, pwd
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from users
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from users
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.systop.core.model.User">
		insert into users (id, createdatetime, name,
		pwd)
		values (#{id,jdbcType=VARCHAR}, #{createdatetime,jdbcType=TIMESTAMP},
		#{name,jdbcType=VARCHAR},
		#{pwd,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.systop.core.model.User">
		insert into users
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="createdatetime != null">
				createdatetime,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="pwd != null">
				pwd,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="createdatetime != null">
				#{createdatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="pwd != null">
				#{pwd,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.systop.core.model.User">
		update users
		<set>
			<if test="createdatetime != null">
				createdatetime = #{createdatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="pwd != null">
				pwd = #{pwd,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.systop.core.model.User">
		update users
		set createdatetime = #{createdatetime,jdbcType=TIMESTAMP},
		name = #{name,jdbcType=VARCHAR},
		pwd = #{pwd,jdbcType=VARCHAR}
		where id = #{id,jdbcType=VARCHAR}
	</update>
</mapper>